# OS
.DS_Store
Thumbs.db

# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Node / Frontend
node_modules/
package-lock.json
dist/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.suo
*.user
