# Frontend
frontend/node_modules/
frontend/.env
frontend/.env.local

# Backend
backend/__pycache__/
backend/.env
*.pyc

# Docker
Dockerfile
docker-compose.override.yml

# Общее
#.env
.DS_Store
.idea/
.vscode/
