gunicorn==23.0.0
Flask==3.1.1
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.10
redis==6.2.0
Flask-Migrate==4.1.0
Alembic==1.16.2
minio==7.2.15
requests==2.32.4
tenacity==9.1.2
Flask-JWT-Extended==4.7.1
