/* --------------------- MANROPE --------------------- */

@font-face {
  font-family: 'Manrope-Regular';
  src: url('@/assets/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('@/assets/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('@/assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ----------------- BOUNDED ----------------- */

@font-face {
  font-family: 'Bounded-250';
  src: url('@/assets/fonts/Bounded-Variable.ttf') format('opentype');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded-300';
  src: url('@/assets/fonts/Bounded-Variable.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded-350';
  src: url('@/assets/fonts/Bounded-Variable.ttf') format('opentype');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded-400';
  src: url('@/assets/fonts/Bounded-Variable.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded-500';
  src: url('@/assets/fonts/Bounded-Variable.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ----------------- NEUE HAAS ----------------- */

@font-face {
  font-family: 'NeueHaas-400';
  src: url('@/assets/fonts/NeueHaas-Roman.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas-500';
  src: url('@/assets/fonts/NeueHaas-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
