@use "./index" as *;

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: $grey-87;
  font-family: Manrope-Medium;
}
